<nav>
     <a href="{{ site.baseurl }}/">Home</a>
     <a href="{{ site.baseurl }}/about">About</a>
     <a href="{{ site.baseurl }}/schedule">Schedule</a>
     <a href="{{ site.baseurl }}/outcomes">Outcomes</a>
     <a href="{{ site.baseurl }}/people">People</a>
</nav>